<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyan.mapper.ProductCategoriesMapper">

    <resultMap id="BaseResultMap" type="com.moyan.pojo.ProductCategories">
            <id property="categoryId" column="category_id" />
            <result property="parentId" column="parent_id" />
            <result property="categoryName" column="category_name" />
            <result property="description" column="description" />
            <result property="iconUrl" column="icon_url" />
            <result property="sortOrder" column="sort_order" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="createBy" column="create_by" />
            <result property="updateBy" column="update_by" />
    </resultMap>

    <sql id="Base_Column_List">
        category_id,parent_id,category_name,description,icon_url,sort_order,
        create_time,update_time,create_by,update_by
    </sql>

    <select id="queryProductById" parameterType="java.lang.Long" resultType="com.moyan.pojo.Products">
        select *
        FROM products p
                 LEFT JOIN product_categories pc on p.category_id = pc.category_id
        where pc.category_id = #{categoryId}
    </select>

    <update id="update" parameterType="com.moyan.pojo.ProductCategories">
        update product_categories
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="iconUrl != null">icon_url = #{iconUrl},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </set>
        where category_id = #{categoryId}
    </update>

    <select id="pageQuery" resultType="com.moyan.pojo.ProductCategories"
            parameterType="com.moyan.dto.ProductCategoryPageDTO">
        select * from product_categories
        <where>
            <if test="categoryName != null">category_name like concat('%',#{categoryName},'%')</if>
        </where>
        order by create_time desc
    </select>
</mapper>
